@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

#first {
  position: absolute;
  top: 20%;
  left: 20%;
}

#second {
  position: absolute;
  top: 30%;
  left: 40%;
}

body {
  background: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)
    no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: bold;

  width: 100%;
  padding: 20px;
}

.navigation {
  padding-top: 10px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  height: 40px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.15);
}

.pieLegend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.table-container {
  height: 400px;
  overflow-y: scroll;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
